<table>
	<tbody>
		<tr class="text-center">
			<td><a ng-click="incrementValue()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
		</tr>
		<tr>
			<td class="form-group" ng-class="{'has-error': invalidValue}">
				<input type="text" ng-model="pickerValue" ng-change="updateValue()" class="form-control text-center" ng-readonly="readonlyInput" resizable-input>
			</td>
		</tr>
		<tr class="text-center">
			<td><a ng-click="decrementValue()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
		</tr>
	</tbody>
</table>

