<table>
	<tbody>
		<tr>
			<td><a ng-click="incrementValue()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
		</tr>
		<tr name="myForm" ng-form>
			<td>
				<input type="number" class="form-control" name="value" ng-model="value" ng-model-options="{ getterSetter: true, updateOn: 'blur' }">
			</td>
		</tr>
		<tr>
			<td><a ng-click="decrementValue()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
		</tr>
	</tbody>
</table>
