<style type="text/css">
/* Hide the up/down arrows that Chrome adds to the number input
   http://stackoverflow.com/a/4298216/399105
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
</style>
<table>
	<tbody>
		<tr class="text-center">
			<td><a ng-click="incrementValue()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
		</tr>
		<tr name="myForm" ng-form ng-class="{'has-error': myForm.value.$invalid}">
			<td>
				<input type="number" class="form-control" name="value" max="{{max}}" min="{{min}}" ng-model="value" resizable-input>
			</td>
		</tr>
		<tr class="text-center">
			<td><a ng-click="decrementValue()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
		</tr>
	</tbody>
</table>
